{% extends 'base.html.twig' %}

{% block title %}Épisode #{% endblock %}

{% block body %}
    <h1>{{ program.title }}</h1>
    <p>Saison {{ season.number }}</p>
    <p>{{ episode.number }} : {{ episode.title }}</p>
    <p>{{ episode.synopsis }}</p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Ajouter un commentaire</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Comment') }}</button>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}