{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes{% endblock %}

{% block body %}
    <h1>Épisode de la saison {{ season.number }}</h1>
    <p>{{ season.description }}</p>

    <ul>
    {% for episode in episodes %}
    <h2><a href="{{ path('program_episode_show', {program_slug: program.slug, seasonId: season.id, episode_slug: episode.slug}) }}">
           {{ episode.number}}{{ episode.title }}
        </a>
    </h2>
        <p>{{ episode.synopsis }}</p>
    {% endfor %}
    <ul>

{% endblock %}